.menu {
  background-color: #f3f0ed;
  display: flex;
  justify-content: center;
  padding-bottom: get-vw(73px, 1440);
  .menu__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .menu__container_inner {
      width: get-vw(408px, 1440);
      height: get-vw(343px, 1440);
      background-color: #fff;
      border-radius: get-vw(20px, 1440);

      cursor: pointer;

      transition: border-color 0.4s, opacity 0.4s;

      border: get-vw(1px, 1440) solid rgba(0, 0, 0, 0);

      .menu__inner_wrapper {
        width: get-vw(342px, 1440);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        .menu__wrapper_title {
          font-size: get-vw(26px, 1440);
          line-height: 1.2;
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: 300;
          padding-top: get-vw(50px, 1440);
          margin-bottom: get-vw(48px, 1440);
        }

        .menu__wrapper_box {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: get-vw(43px, 1440);
          .menu__wrapper_box_img {
            width: get-vw(150px, 1440);
            img {
              width: 100%;
            }
          }

          .menu__wrapper_box_procent {
            font-size: get-vw(80px, 1440);
            line-height: 1.2;
            font-family: 'IBM Plex Sans', sans-serif;
            font-style: italic;
            font-weight: 300;
            color: #fff;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
            transition: color 0.3s;
            span {
              font-size: get-vw(60px, 1440);
              -webkit-text-stroke-width: 2px;
              -webkit-text-stroke-color: black;
            }
          }
        }

        .menu__wrapper_text {
          font-size: get-vw(18px, 1440);
          line-height: 1.2;
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: 300;
          text-align: center;
        }
      }

      &:hover {
        border-color: rgba(0, 0, 0, 1);

        .menu__inner_wrapper .menu__wrapper_box .menu__wrapper_box_procent {
          color: #000;
        }
      }
      // .menu__wrapper_box_procent.action{
      //     color: #000;
      // }
    }
    .menu__container_inner2 {
      width: get-vw(408px, 1440);
      height: get-vw(343px, 1440);
      background-color: #fff;
      border-radius: get-vw(20px, 1440);
      margin: 0 get-vw(18px, 1440);
      .menu__inner_wrapper {
        width: get-vw(342px, 1440);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        .menu__wrapper_title {
          font-size: get-vw(26px, 1440);
          line-height: 1.2;
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: 300;
          padding-top: get-vw(50px, 1440);
          margin-bottom: get-vw(48px, 1440);
        }

        .menu__wrapper_box {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: get-vw(43px, 1440);
          .menu__wrapper_box_img {
            width: get-vw(150px, 1440);
            img {
              width: 100%;
            }
          }

          .menu__wrapper_box_procent {
            font-size: get-vw(80px, 1440);
            line-height: 1.2;
            font-family: 'IBM Plex Sans', sans-serif;
            font-style: italic;
            font-weight: 300;
            color: #fff;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
            span {
              font-size: get-vw(60px, 1440);
              -webkit-text-stroke-width: 2px;
              -webkit-text-stroke-color: black;
            }
          }
        }

        .menu__wrapper_text {
          font-size: get-vw(18px, 1440);
          line-height: 1.2;
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: 300;
          text-align: center;
        }
      }
    }
    .menu__container_inner3 {
      width: get-vw(408px, 1440);
      height: get-vw(343px, 1440);
      background-color: #fff;
      border-radius: get-vw(20px, 1440);
      .menu__inner_wrapper3 {
        width: get-vw(342px, 1440);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        .menu__wrapper_title3 {
          margin-bottom: get-vw(30px, 1440);
          font-size: get-vw(26px, 1440);
          line-height: 1.2;
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: 300;
          padding-top: get-vw(50px, 1440);
        }
        .menu__wrapper_box3 {
          margin-bottom: get-vw(25px, 1440);
          .menu__wrapper_box_img3 {
            width: get-vw(180px, 1440);
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .menu__container_inner.action {
    border: get-vw(1px, 1440) solid rgba(0, 0, 0, 1);
    .menu__inner_wrapper .menu__wrapper_box .menu__wrapper_box_procent {
      color: #000;
    }
  }
}
