.header {
  background-color: #f3f0ed;
  display: flex;
  justify-content: center;
  &__inner {
    width: get-vw(1020px, 1440);
  }
  &__inner p {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: get-vw(28px, 1440);
    line-height: 1.28;
    color: #000;
    padding-bottom: get-vw(74px, 1440);
    a {
      text-decoration: underline;
      color: #000;
    }
  }
  .container__header {
    width: 81%;
    justify-content: flex-start;
    display: flex;
  }
}
.header_text {
  background-color: #f3f0ed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .header_text_container {
    width: get-vw(700px, 1440);
    font-family: var(--font-alt);
    font-weight: 300;
    font-size: get-vw(22px, 1440);
    line-height: 1.1;
    color: #000;
    padding-bottom: get-vw(55px, 1440);
  }
}
