<div class="menu">
    <div class="menu__container" data-aos="fade-up" data-aos-duration="1000">

      <div class="menu__container_inner menu__container_inner1">
        <div class="menu__inner_wrapper">

          <div class="menu__wrapper_title">
            Уровень батареи
          </div>

          <div class="menu__wrapper_box">
            <div class="menu__wrapper_box_img">
              <img src="https://img.the-village.ru/y1xqMKL9H7vTWxIgDOn22CKTbNEeYpcWsQf1aYk4a7A/q:88/plain/2021/12/17/battery-01.png" alt="">
            </div>
            <div class="menu__wrapper_box_procent">
                55<span>%</span>
            </div>
          </div>

          <div class="menu__wrapper_text item_desktop" data-typo>
            Утренняя зарядка на 15 минут, чтобы зарядиться перед рабочим днем
          </div>
          <div class="menu__wrapper_text menu__wrapper_text2  item_mobile" data-typo>
            Утренняя зарядка на 15 минут,<br> чтобы зарядиться перед<br> рабочим днем
          </div>

        </div>
      </div>

      <div class="menu__container_inner menu__container_inner2">
        <div class="menu__inner_wrapper">

          <div class="menu__wrapper_title">
            Уровень батареи
          </div>

          <div class="menu__wrapper_box">
            <div class="menu__wrapper_box_img">
              <img src="https://img.the-village.ru/hhuKNLCl_FFDWqC3BP2jHa8-cquKk7rHPsXAueRVo1w/q:88/plain/2021/12/17/battery-02.png" alt="">
            </div>
            <div class="menu__wrapper_box_procent">
                75<span>%</span>
            </div>
          </div>

          <div class="menu__wrapper_text item_desktop" data-typo>
            Вечерняя растяжка на 25 минут, чтобы перезагрузиться после рабочего дня
          </div>
          <div class="menu__wrapper_text item_mobile">
            Вечерняя растяжка на 25<br> минут, чтобы перезагрузиться после рабочего дня
          </div>

        </div>
      </div>

      <div class="menu__container_inner menu__container_inner3">
        <div class="menu__inner_wrapper menu__inner_wrapper3">

          <div class="menu__wrapper_title menu__wrapper_title3">
            Уровень батареи
          </div>

          <div class="menu__wrapper_box menu__wrapper_box3">
            <div class="menu__wrapper_box_img3">
              <img src="https://img.the-village.ru/TgQgRmulUS78mLOMfDsdkWpfCm8He1QOy7AnIxWSDP8/q:88/plain/2021/12/17/battery-03.png" alt="">
            </div>
            <div class="content__container_procent menu__wrapper_box_procent3">
                100<span>%</span>
            </div>
          </div>

          <div class="menu__wrapper_text item_desktop" data-typo>
            Кардиотренировка на 37 минут для максимального заряда энергией
          </div>
          <div class="menu__wrapper_text menu__wrapper_text3 item_mobile" data-typo>
            Кардиотренировка на 37 минут для максимального заряда энергией
          </div>

        </div>
      </div>

    </div>
  </div>