<div class="menu">
    <div class="menu__container">

      <div class="menu__container_inner menu__container_inner1">
        <div class="menu__inner_wrapper">

          <div class="menu__wrapper_title">
            Уровень батареи
          </div>

          <div class="menu__wrapper_box">
            <div class="menu__wrapper_box_img">
              <img src="https://img.the-village.ru/J0VcHuIZ4m7zqM44i6r-FSQXbCI05xDx_aBdOvrxy5E/q:88/plain/2021/12/15/better-1.png" alt="">
            </div>
            <div class="menu__wrapper_box_procent">
                55<span>%</span>
            </div>
          </div>

          <div class="menu__wrapper_text">
            Утренняя зарядка на 15 минут, чтобы зарядиться перед рабочим днем
          </div>

        </div>
      </div>

      <div class="menu__container_inner menu__container_inner2">
        <div class="menu__inner_wrapper">

          <div class="menu__wrapper_title">
            Уровень батареи
          </div>

          <div class="menu__wrapper_box">
            <div class="menu__wrapper_box_img">
              <img src="https://img.the-village.ru/MVxMOKJZ136VqhIvsFAFeZUfmCOEBwdvkl1YuT5ww9s/q:88/plain/2021/12/15/better-2.png" alt="">
            </div>
            <div class="menu__wrapper_box_procent">
                75<span>%</span>
            </div>
          </div>

          <div class="menu__wrapper_text">
            Вечерняя растяжка на 25 минут, чтобы перезагрузиться после рабочего дня
          </div>

        </div>
      </div>

      <div class="menu__container_inner menu__container_inner3">
        <div class="menu__inner_wrapper menu__inner_wrapper3">

          <div class="menu__wrapper_title menu__wrapper_title3">
            Уровень батареи
          </div>

          <div class="menu__wrapper_box menu__wrapper_box3">
            <div class="menu__wrapper_box_img3">
              <img src="https://img.the-village.ru/FdnRNgE7VjnFf5XSAuJWFoVAIoXfdcwqDsFN9tPMSVs/q:88/plain/2021/12/15/better-3.png" alt="">
            </div>
            <div class="menu__wrapper_box_procent">
                100<span>%</span>
            </div>
          </div>

          <div class="menu__wrapper_text">
            Кардиотренировка на 37 минут для максимального заряда энергией
          </div>

        </div>
      </div>

    </div>
  </div>