<div class="promoblock">
    <div class="promoblock__container">

      
      <div class="promoblock__container_img item_desktop" data-aos="fade-up" data-aos-duration="1000">
        <video autoplay loop muted playsinline>
          <source src="https://cdn.the-village.ru/the-village.ru/assets/honor-s1453/promoblock.mp4">
        </video>
      </div>
      <div class="promoblock__container_img item_mobile">
        <video autoplay loop muted playsinline>
          <source src="https://cdn.the-village.ru/the-village.ru/assets/honor-s1453/promoblock.mp4">
        </video>
      </div>

      <div class="promoblock__container_title" data-typo>
        Быстрый заряд<br>для энергичных людей
      </div>

      <div class="promoblock__container_text" data-typo>
        Знакомьтесь: новый смартфон <a target="_blank" href="http://ads.adfox.ru/5024/goLink?p1=byvgb&p2=frfe&p5=ksqxu&pr=[RANDOM]&puid1=&puid2=&puid3=&puid4=&puid5=&puid6=&puid7=&puid8=&puid9=&puid10=&puid11=&puid12=&puid13=&puid14=">Honor 50 Lite</a><span>1</span> с технологией быстрой зарядки Honor SuperCharge на 66 ватт. 
        Благодаря батарее с двумя ячейками телефон заряжается до 55 % всего за 15 минут, а до 100 % — за 37 минут. 
        Полного заряда хватит на 13 часов просмотра видео на ютьюбе, 11 часов скроллинга ленты в инстаграме, восемь часов видеозвонков и 
        семь часов игр<span>2</span>. Квадрокамера с основным объективом на 64 мегапикселя позволит сделать качественные снимки в любое время суток. 
        Среди других преимуществ модели — безрамочный FullView-экран 6,67 дюйма<span>3</span> с максимально узкими рамками и режимом защиты зрения для 
        комфортного просмотра. Ничего лишнего, чтобы не отвлекало от главного — от работы, учебы, общения и новых приключений.
      </div>

      <div class="promoblock__button">
        <a target="_blank" href="http://ads.adfox.ru/5024/goLink?p1=byvgb&p2=frfe&p5=ksqxs&pr=[RANDOM]&puid1=&puid2=&puid3=&puid4=&puid5=&puid6=&puid7=&puid8=&puid9=&puid10=&puid11=&puid12=&puid13=&puid14="><button class="details__button">Подробнее</button></a>
      </div>


    </div>
  </div>