<div class="promoblock">
    <div class="promoblock__container">

      <div class="promoblock__container_img">
        <img src="https://img.the-village.ru/DmyhZBz0NMe4jU5qi5DoUZa1FVnopJuecyv9h6IKPfo/q:88/plain/2021/12/15/honor-0-00-01-06-1.png" alt="">
      </div>

      <div class="promoblock__container_title">
        Быстрый заряд<br>для энергичных людей
      </div>

      <div class="promoblock__container_text">
        Знакомьтесь: новый смартфон Honor 50 Lite с технологией быстрой зарядки Honor SuperCharge на 66 ватт. 
        Благодаря батарее с двумя ячейками телефон заряжается до 55 % всего за 15 минут, а до 100 % — за 37 минут. 
        Полного заряда хватит на 13 часов просмотра видео на ютьюбе, 11 часов скроллинга ленты в инстаграме, восемь часов видеозвонков и
        семь часов игр. Квадрокамера с основным объективом на 64 мегапикселя позволит сделать качественные снимки в любое время суток. 
        Среди других преимуществ модели — безрамочный FullView-экран 6,67 дюйма с максимально узкими рамками и режимом защиты зрения для 
        комфортного просмотра. Ничего лишнего, чтобы не отвлекало от главного — от работы, учебы, общения и новых приключений.
      </div>

      <div class="promoblock__button">
        <a href="#"><button class="details__button">Подробнее</button></a>
      </div>


    </div>
  </div>