
  <header class="header">
    <div class="container__header">
      <div class="header__inner">
        <p>
          Наверняка вы сталкивались с ситуацией, когда забыли зарядить телефон перед сном, а утром уже нужно бежать на встречу. 
          Или вам срочно необходимо восстановить заряд между звонками с коллегами, но времени на это совсем нет. В итоге от бесконечного 
          стресса к вечеру у вас также сел аккумулятор, как и у девайса. Но мы нашли решение: вместе с Honor и фитнес-тренером Марией Тарасовой 
          составили для вас три тренировки, которые помогут зарядиться вашему телу и духу, пока вы заряжаете новый смартфон Honor 50 Lite — на 55, 75 и 100 %.
        </p>
      </div>
    </div>
  </header>

  <div class="header_text">
    <div class="header_text_container">
        Чтобы войти в новый день полным сил и заряженным на продуктивное решение дел, его нужно начать с зарядки. 
        Фитнес-тренер Мария Тарасова подобрала несложные упражнения, которые эффективно разогреют мышцы и разомнут все тело.
    </div>
  </div>
