
  <header class="header">
    <div class="container__header">
      <div class="header__inner">
        <p data-typo>
          Наверняка вы сталкивались с ситуацией, когда забыли зарядить телефон перед сном, а утром уже нужно бежать на встречу. 
          Или вам срочно необходимо восстановить заряд между звонками с коллегами, но времени на это совсем нет. В итоге от бесконечного 
          стресса к вечеру у вас также сел аккумулятор, как и у девайса. Но мы нашли решение: вместе с <a target="_blank" href="http://ads.adfox.ru/5024/goLink?p1=byvgb&p2=frfe&p5=ksqxr&pr=[RANDOM]&puid1=&puid2=&puid3=&puid4=&puid5=&puid6=&puid7=&puid8=&puid9=&puid10=&puid11=&puid12=&puid13=&puid14=">Honor</a> и фитнес-тренером Марией Тарасовой 
          составили для вас три тренировки, которые помогут зарядиться вашему телу и духу, пока вы заряжаете новый смартфон <a target="_blank" href="http://ads.adfox.ru/5024/goLink?p1=byvgb&p2=frfe&p5=ksqxu&pr=[RANDOM]&puid1=&puid2=&puid3=&puid4=&puid5=&puid6=&puid7=&puid8=&puid9=&puid10=&puid11=&puid12=&puid13=&puid14=">Honor 50 Lite</a> — на 55, 75 и 100 %.
        </p>
      </div>
    </div>
  </header>

  <!-- <div class="header_text">
    <div class="header_text_container" data-typo>
        Чтобы войти в новый день полным сил и заряженным на продуктивное решение дел, его нужно начать с зарядки. 
        Фитнес-тренер Мария Тарасова подобрала несложные упражнения, которые эффективно разогреют мышцы и разомнут все тело.
    </div>
  </div> -->
