.promoblock {
  background-color: #f3f0ed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: get-vw(40px, 320);
  .promoblock__container {
    width: 90%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex-direction: column;

    .promoblock__container_img {
      width: get-vw(290px, 320);
      margin-bottom: get-vw(18px, 320);
      transition: all 0.4s;
      &:hover {
        opacity: 0.8;
      }
      img {
        width: 100%;
      }
      video {
        width: 100%;
      }
    }
    .promoblock__container_title {
      width: get-vw(290px, 320);
      font-family: var(--font-alt);
      font-weight: 500;
      font-style: italic;
      font-size: get-vw(32px, 320);
      color: #000;
      padding-bottom: get-vw(25px, 320);
      text-align: center;
      line-height: 1.2;
    }
    .promoblock__container_text {
      width: get-vw(286px, 320);
      font-family: var(--font-alt);
      font-weight: 300;
      line-height: 1.1;
      font-size: get-vw(18px, 320);
      color: #000;
      margin-bottom: get-vw(30px, 320);
      text-align: center;
      a {
        color: #000;
      }
      span {
        font-family: var(--font-alt);
        font-weight: 300;
        color: #000;
        font-size: get-vw(11px, 320);
        margin-bottom: get-vw(20px, 320);
        position: relative;
        bottom: get-vw(10px, 320);
      }
    }
    .promoblock__button {
      padding-bottom: get-vw(60px, 320);
      .details__button {
        font-family: var(--font-alt);
        font-style: italic;
        font-weight: 300;

        font-size: get-vw(20px, 320);
        line-height: 1.1;
        text-align: center;
        background-color: #000;
        color: #ffffff;
        border-radius: get-vw(10px, 320);
        border: none;
        cursor: pointer;
        width: get-vw(200px, 320);
        height: get-vw(40px, 320);

        transition: all 0.5s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .promoblock__container.action {
    position: relative;
    margin-top: get-vw(-210px, 320);
  }
}
